.taskbar {
  border-top: 1px solid var(--button-highlight);
  background: var(--surface);
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--taskbar-height);
}

.taskbar__start {
  background: url('../assets/windows98StartSprite.png') no-repeat -1px -6px;
  min-width: 62px;
  height: 29px;
}

.taskbar__start--open {
  /* Same as global button:active */
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  padding: 2px 11px 0 13px;
}

.taskbar__startMenu {
  position: fixed;
  left: 0;
  bottom: 30px;
}

.taskbar__startMenuList {
  min-width: 150px;
}

.taskbar__startMenuItem {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.taskbar__startMenuItem__logo {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}

.taskbar__startMenuItem:hover {
  background-color: var(--dialog-blue);
  color: var(--button-highlight);
  cursor: default;
}
